<p id="notice"><%= notice %></p>

<h1>Wayne's meme app</h1>
<div class="intro-box">
<p>Banh mi semiotics gastropub, banjo plaid Blue Bottle messenger bag Vice mumblecore four dollar toast aesthetic XOXO. Selvage High Life Helvetica, Godard Portland raw denim migas. Whatever listicle swag, chambray shabby chic mumblecore bitters put a bird on it street art Tumblr. Cronut High Life craft beer swag, farm-to-table photo booth taxidermy fashion axe slow-carb McSweeney's squid post-ironic PBR sustainable.</p>
</div>
<hr>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User name</th>
      <th>Picture</th>
      <th>Description</th>
      <th>Transcription</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @transcriptions.each do |transcription| %>
      <tr>
        <td><%= transcription.title %></td>
        <td><%= transcription.user_name %></td>
        <td><%= image_tag transcription.picture_url(:thumb) if transcription.picture.present? %></td>
        <td><%= transcription.description %></td>
        <td><%= transcription.transcription %></td>
        <td><%= link_to 'Show', transcription %></td>
        <td><%= link_to 'Edit', edit_transcription_path(transcription) %></td>
        <td><%= link_to 'Destroy', transcription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %> 
  </tbody>
</table>

<hr>

<strong><%= link_to 'New Transcription', new_transcription_path %></strong>
